
body{
    align-items: center;
     /* text-align: center;  */
}
h1 {
    margin-left: 40%;

} 

form{
    border: 3px ridge gainsboro;
    margin: auto;
    width: 60%;
    margin-bottom: 10px;
}

li{
    list-style-type: none;
}
form ul li label{
    float: left;
 clear: left; 
width: 250px;
text-align: right;
margin-right: 10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
margin-bottom: 10px;
}


input, select{
    margin-bottom: 10px;
    /* text-align: right; */
    /* margin-right: 10px; */
}
textarea{
    width: 400px;
    height: 150px;
}
input[type=submit]{
    clear: left;
    margin: 20px 0 0 400px;
    font-size:18px
    
}


